.jobpostingcontainer-container{
    display: flex;
    margin-left: 75px;
    margin-right: 75px;

    justify-content: space-between;

    padding: 30px;
    border-radius: 30px;
    color: white;
    background-color: rgb(73, 71, 71);
    
}

.workschedulebannar{
    display: flex;
    margin-right:  40px;
}

.workschedulebutton{
    display: flex;
    margin-right:  15px;
   
}

.companyinformationbannar{
    display: inline-block;
}

.rightside-container{
    display: flex;

   
}