.navbar-container {
    display: flex;
    justify-content: space-evenly;
    

    list-style: none;
    padding: 30px;
    margin-top: auto;

    color: white;
    background-color: rgb(73, 71, 71);

    
}

li {
   font-size: 20px;
}

